
body {
  height: 900px;
}
.bg {
  background: url("../img/mutantform.png");
  background-repeat: no-repeat;
  width: 610px;
  height: 870px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 573px;
}

/* cols */
.col-0 {
  height: 870px;
  width: 215px;
  position: relative;
  display: grid;
}
.col-1 {
  height: 570px;
  width: 193px;
  display: grid;
  vertical-align: top;
  margin-left: 4px;
}
.col-2 {
  height: 570px;
  width: 193px;
  display: grid;
  vertical-align: top;
}
.col-3 {
  height: 290px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

/* sections */
.basic {
  position: absolute;
  top: 189px;
  left: 74px;
}
.state {
  position: absolute;
  top: 360px;
  left: 22px;
}
.skills {
  position: absolute;
  top: 502px;
  left: 22px;
}
.experience {
  position: absolute;
  top: 829px;
  left: 24.5px;
}

.name {
  top: 171px;
  position: absolute;
}
.looks {
  position: absolute;
  top: 230px;
}
.mutations {
  position: absolute;
  top: 325px;
}
.mutation_points {
  position: absolute;
  top: 434px;
  margin-left: 4px;
  width: 184px;
}
.rot {
  position: absolute;
  top: 493px;
  margin-left: 4px;
  width: 184px;
}
.armor {
  position: absolute;
  top: 556px;
  width: 184px;
}

.occupation {
  position: absolute;
  top: 171px;
}
.talents {
  position: absolute;
  top: 230px;
  margin-left: 5px;
}
.gear {
  position: absolute;
  top: 368px;
  margin-left: 5px;
}
.weapons {
  position: absolute;
  top: 612px;
  margin-left: 5px;
  width: 383px;
}
.relations {
  position: absolute;
  top: 710px;
  margin-left: 68px;
}
/* general */
.tall-row {
  display: block;
  height: 33.3px;
  margin-bottom: 1px;
}
.row_box {
  width: 23px;
  display: inline-block;
  margin-right: 7.5px;
  margin-top: 3px;
  height: 19px;
}
.row_text {
  width: 176px;
  height: 13px;
}
.row {
  height: 19px;
  margin-bottom: 2px;
}
.after-lbl {
  margin-left: 36px;
  width: 146px;
}
.row_input {
  width: 140px;
  height: 12px;
  font-size: 10px;
}
.row_input_box {
  width: 23px;
  height: 12px;
  font-size: 10px;
}
.row_input_box_wide {
  width: 73px;
  height: 12px;
}
.input_text_long {
  width: 250px;
}
.input_text_long_extra {
  width: 310px;
}
input[type="checkbox"] {
  margin-left: 0.7px;
  margin-right: 0px;
  vertical-align: middle;
  margin-top: 10px;
}

/* specifics */
.skills .row_box {
  height: 12px;
  margin-left: 152px;
}
.skills .row_input_box,
.skills .row_input {
  font-size: 13.333px;
}
.experience input[type="checkbox"],
.mutation_points input[type="checkbox"],
.rot input[type="checkbox"] {
  margin-right: 0.5px;
}

.state .row input[type="checkbox"] {
  margin-left: 75px;
  margin-top: 0;
}
.relations .row input[type="checkbox"] {
  margin-left: 21px;
  margin-top: 0;
}

.looks .row,
.mutations .row {
  height: 17.5px;
}

.armor .row_input {
  width: 114px;
}
.armor .row_input_box {
  width: 50px;
}

.weapons .row_input {
  width: 136px;
}
.weapons .row_input_box {
  width: 39px;
}

.relations .row {
  height: 20px;
}

.gear .row {
  height: 18.9px;
  margin-bottom: 0px;
}
.gear .row_input {
  height: 11px;
}


/* Firefox */
@supports (-moz-appearance:none) {
  .state .row input[type="checkbox"] {
    margin-left: 74px;
    margin-top: 5px;
  }
  .row_text {
    vertical-align: top;
  }
  .state .row_text {
    vertical-align: baseline;
  }
}

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .basic input[type="checkbox"] {
    margin-left: 2px;
  }
  .experience input[type="checkbox"],
  .mutation_points input[type="checkbox"],
  .rot input[type="checkbox"] {
    margin-right: 1.5px;
  }
  .relations .row input[type="checkbox"] {
    margin-left: 23px;
  }
  .state {
    top: 362px;
    left: 19px;
  }
  .state .row input[type="checkbox"] {
    margin-left: 77px;
  }
  .weapons .row_input_box {
    width: 41.5px;
  }
}}

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
  .basic input[type="checkbox"] {
    margin-left: 2px;
  }
  .experience input[type="checkbox"],
  .mutation_points input[type="checkbox"],
  .rot input[type="checkbox"] {
    margin-right: 1.5px;
  }
  .relations .row input[type="checkbox"] {
    margin-left: 23px;
  }
  .state {
    top: 362px;
    left: 19px;
  }
  .state .row input[type="checkbox"] {
    margin-left: 77px;
  }
  .weapons .row_input_box {
    width: 41.5px;
  }
}}

/* Safari 6.1-10.0 (not 10.1) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    .basic input[type="checkbox"] {
      margin-left: 2px;
    }
    .experience input[type="checkbox"],
    .mutation_points input[type="checkbox"],
    .rot input[type="checkbox"] {
      margin-right: 1.5px;
    }
    .relations .row input[type="checkbox"] {
      margin-left: 23px;
    }
    .state {
      top: 362px;
      left: 19px;
    }
    .state .row input[type="checkbox"] {
      margin-left: 77px;
    }
    .weapons .row_input_box {
      width: 41.5px;
    }
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .experience,
    .rot,
    .mutation_points,
    .armor,
    .row,
    .tall-row {
      display: -webkit-flex;
    }
}
