<form name="charForm" class="form-horizontal" role="form">
  <div class="bg">
    <div class="col-0">
      <div class="form-group basic">
        <div class="tall-row">
          <input type="number" ng-model="char.basic_0" name="basic_0" class="row_box" />
          <input type="checkbox" ng-model="char.basic_0_0" name="basic_0_0" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_0_1" name="basic_0_1" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_0_2" name="basic_0_2" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_0_3" name="basic_0_3" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_0_4" name="basic_0_4" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="tall-row">
          <input type="number" ng-model="char.basic_1" name="basic_1" class="row_box" />
          <input type="checkbox" ng-model="char.basic_1_0" name="basic_1_0" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_1_1" name="basic_1_1" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_1_2" name="basic_1_2" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_1_3" name="basic_1_3" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_1_4" name="basic_1_4" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="tall-row">
          <input type="number" ng-model="char.basic_2" name="basic_2" class="row_box" />
          <input type="checkbox" ng-model="char.basic_2_0" name="basic_2_0" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_2_1" name="basic_2_1" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_2_2" name="basic_2_2" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_2_3" name="basic_2_3" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_2_4" name="basic_2_4" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="tall-row">
          <input type="number" ng-model="char.basic_3" name="basic_3" class="row_box" />
          <input type="checkbox" ng-model="char.basic_3_0" name="basic_3_0" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_3_1" name="basic_3_1" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_3_2" name="basic_3_3" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_3_3" name="basic_3_3" ng-true-value="1" ng-false-value="0" />
          <input type="checkbox" ng-model="char.basic_3_4" name="basic_3_4" ng-true-value="1" ng-false-value="0" />
        </div>
      </div>
      <div class="form-group state">
        <div class="row">
          <div class="state-checkbox">
            <input type="checkbox" ng-model="char.state_0_0" name="state_0_0" ng-true-value="1" ng-false-value="0" />
            <input type="checkbox" ng-model="char.state_0_1" name="state_0_1" ng-true-value="1" ng-false-value="0" />
          </div>
        </div>
        <div class="row">
          <div class="state-checkbox">
            <input type="checkbox" ng-model="char.state_1_0" name="state_1_0" ng-true-value="1" ng-false-value="0" />
            <input type="checkbox" ng-model="char.state_1_1" name="state_1_1" ng-true-value="1" ng-false-value="0" />
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <input ng-model="char.state_0" name="state_0" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input ng-model="char.state_1" name="state_1" class="row_text" type="text" value="" />
        </div>
      </div>
      <div class="form-group skills">
        <div class="row">
          <input name="skill_0" ng-model="char.skill_0" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_1" ng-model="char.skill_1" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_2" ng-model="char.skill_2" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_3" ng-model="char.skill_3" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_4" ng-model="char.skill_4" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_5" ng-model="char.skill_5" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_6" ng-model="char.skill_6" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_7" ng-model="char.skill_7" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_8" ng-model="char.skill_8" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_9" ng-model="char.skill_9" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_10" ng-model="char.skill_10" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_11" ng-model="char.skill_11" class="row_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_free_0" ng-model="char.skill_free_0" class="row_input" type="text" value="" />
          <input name="skill_12" ng-model="char.skill_12" class="row_input_box" type="number" />
        </div>
        <div class="row">
          <input name="skill_free_1" ng-model="char.skill_free_1" class="row_input" type="text" value="" />
          <input name="skill_13" ng-model="char.skill_13" class="row_input_box" type="number" />
        </div>
      </div>
      <div class="form-group experience">
        <input type="checkbox" ng-model="char.exp_0" name="exp_0" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_1" name="exp_1" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_2" name="exp_2" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_3" name="exp_3" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_4" name="exp_4" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_5" name="exp_5" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_6" name="exp_6" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_7" name="exp_7" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_8" name="exp_8" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.exp_9" name="exp_9" ng-true-value="1" ng-false-value="0" />
      </div>
    </div>
    <div class="col-1">
      <div class="form-group name">
        <div class="row">
          <input name="displayname" ng-model="char.displayname" class="after-lbl" type="text" value="" />
        </div>
      </div>
      <div class="form-group looks">
        <div class="row">
          <input name="face" ng-model="char.face" class="row_input after-lbl" type="text" value="" />
        </div>
        <div class="row">
          <input name="body" ng-model="char.body" class="row_input after-lbl" type="text" value="" />
        </div>
        <div class="row">
          <input name="clothes" ng-model="char.clothes" class="row_input after-lbl" type="text" value="" />
        </div>
      </div>
      <div class="form-group mutations">
        <div class="row">
          <input name="mutation_0" ng-model="char.mutation_0" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="mutation_1" ng-model="char.mutation_1" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="mutation_2" ng-model="char.mutation_2" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="mutation_3" ng-model="char.mutation_3" class="row_text" type="text" value="" />
        </div>
      </div>
      <div class="form-group mutation_points">
        <input type="checkbox" ng-model="char.mut_0" name="mut_0" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_1" name="mut_1" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_2" name="mut_2" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_3" name="mut_3" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_4" name="mut_4" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_5" name="mut_5" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_6" name="mut_6" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_7" name="mut_7" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_8" name="mut_8" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.mut_9" name="mut_9" ng-true-value="1" ng-false-value="0" />
      </div>
      <div class="form-group rot">
        <input type="checkbox" ng-model="char.rot_0" name="rot_0" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_1" name="rot_1" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_2" name="rot_2" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_3" name="rot_3" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_4" name="rot_4" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_5" name="rot_5" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_6" name="rot_6" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_7" name="rot_7" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_8" name="rot_8" ng-true-value="1" ng-false-value="0" />
        <input type="checkbox" ng-model="char.rot_9" name="rot_9" ng-true-value="1" ng-false-value="0" />
      </div>
      <div class="form-group armor">
        <input name="armor" ng-model="char.armor" class="row_input" type="text" value="" />
        <input name="armor_val" ng-model="char.armor_val" class="row_input_box" type="number" value="" />
      </div>
    </div>
    <div class="col-2">
      <div class="form-group occupation">
        <div class="row">
          <input name="occupation" ng-model="char.occupation" class="after-lbl" type="text" value="" />
        </div>
      </div>
      <div class="form-group talents">
        <div class="row">
          <input name="tal_0" ng-model="char.tal_0" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="tal_1" ng-model="char.tal_1" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="tal_2" ng-model="char.tal_2" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="tal_3" ng-model="char.tal_3" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="tal_4" ng-model="char.tal_4" class="row_text" type="text" value="" />
        </div>
      </div>
      <div class="form-group gear">
        <div class="row">
          <input name="gear_0" ng-model="char.gear_0" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_1" ng-model="char.gear_1" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_2" ng-model="char.gear_2" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_3" ng-model="char.gear_3" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_4" ng-model="char.gear_4" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_5" ng-model="char.gear_5" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_6" ng-model="char.gear_6" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_7" ng-model="char.gear_7" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_8" ng-model="char.gear_8" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="gear_9" ng-model="char.gear_9" class="row_text" type="text" value="" />
        </div>
        <div class="row">
          <input name="ammo" ng-model="char.ammo" class="row_input after-lbl" type="number" value="" />
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group weapons">
        <div class="row">
          <input class="row_input" name="wpn_0" ng-model="char.wpn_0" type="text" value=""/>
          <input name="ng-model="wpn_0_1" ng-model="char.wpn_0_1" class="row_input_box" type="number" />
          <input name="ng-model="wpn_0_2" ng-model="char.wpn_0_2" class="row_input_box" type="number" />
          <input name="ng-model="wpn_0_3" ng-model="char.wpn_0_3" class="row_input_box" type="text" value="" />
          <input name="ng-model="wpn_0_4" ng-model="char.wpn_0_4" class="row_input_box_wide" type="text" value="" />
        </div>
        <div class="row">
          <input class="row_input" name="wpn_1" ng-model="char.wpn_1" type="text" value=""/>
          <input name="ng-model="wpn_1_1" ng-model="char.wpn_1_1" class="row_input_box" type="number" />
          <input name="ng-model="wpn_1_2" ng-model="char.wpn_1_2" class="row_input_box" type="number" />
          <input name="ng-model="wpn_1_3" ng-model="char.wpn_1_3" class="row_input_box" type="text" value="" />
          <input name="ng-model="wpn_1_4" ng-model="char.wpn_1_4" class="row_input_box_wide" type="text" value="" />
        </div>
        <div class="row">
          <input class="row_input" name="wpn_2" ng-model="char.wpn_2" type="text" value=""/>
          <input name="ng-model="wpn_2_1" ng-model="char.wpn_2_1" class="row_input_box" type="number" />
          <input name="ng-model="wpn_2_2" ng-model="char.wpn_2_2" class="row_input_box" type="number" />
          <input name="ng-model="wpn_2_3" ng-model="char.wpn_2_3" class="row_input_box" type="text" value="" />
          <input name="ng-model="wpn_2_4" ng-model="char.wpn_2_4" class="row_input_box_wide" type="text" value="" />
        </div>
      </div>
      <div class="form-group relations">
        <div class="row">
          <input name="ng-model="rel_0" ng-model="char.rel_0" class="input_text_long" type="text" value="" />
          <input name="ng-model="rel_0" ng-model="char.rel_0_1" type="checkbox" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="row">
          <input name="ng-model="rel_1" ng-model="char.rel_1" class="input_text_long" type="text" value="" />
          <input name="ng-model="rel_1" ng-model="char.rel_1_1" type="checkbox" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="row">
          <input name="ng-model="rel_2" ng-model="char.rel_2" class="input_text_long" type="text" value="" />
          <input name="ng-model="rel_2" ng-model="char.rel_2_1" type="checkbox" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="row">
          <input name="ng-model="rel_3" ng-model="char.rel_3" class="input_text_long" type="text" value="" />
          <input name="ng-model="rel_3" ng-model="char.rel_3_1" type="checkbox" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="row">
          <input name="ng-model="rel_4" ng-model="char.rel_4" class="input_text_long_extra" type="text" value="" />
        </div>
        <div class="row">
          <input name="ng-model="rel_5" ng-model="char.rel_5" class="input_text_long_extra" type="text" value="" />
        </div>
        <div class="row">
          <input name="ng-model="rel_6" ng-model="char.rel_6" class="input_text_long_extra" type="text" value="" />
        </div>
      </div>
    </div>
  </div>
</div> <!--bg-->
<input ng-show="char.displayname" name="saveBtn" type="submit" class="btn btn-default" ng-click="update(char);" value="Spara" />
<input ng-show="!char.displayname" name="nameToLoad" ng-model="name" class="row_text" type="text" value="" />
<input ng-show="!char.displayname" name="loadBtn" type="submit" class="btn btn-default" ng-click="load(name);" value="Ladda" />
</form>
<!-- /.page-content -->


